<link rel="stylesheet" href="/styles/style.css" />

<div class="form">
  <form method="get" action="/artist-search" class="search">

    <input type="text" placeholder="artistName" name="artist1" class="input" />
    <button type="submit" class="button"><b>Search for an artist</b></button>

  </form>
</div>